/* Add viewport meta tag reference */
@viewport {
    width: device-width;
    initial-scale: 1.0;
}
.sologant{
    max-width: 90%;
    margin: 30px auto;
}
.sologant p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 650;
    text-align: center;
}
@media all and (max-width: 480px) {
    .sologant{
        max-width: 100%;
    }
    .sologant p{
        font-size: 20px;
    }
}



